{
    "extends": ["eslint:recommended", "google"],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": [
        "html"
    ],
    "rules": {
        "brace-style": "off",
        "new-cap": ["error", { "capIsNewExceptions": ["Polymer"] }],
        "no-var": "off",
        "require-jsdoc": "off",
        "max-len": ["error", 100]
    },
    "globals": {
        "Polymer": true,
        "Promise": true,
        "dragon": true,
        "pbkdf2Sync": true,
        "lightwallet": true,
        "require": true,
        "io": true,
        "Redux": true,
        "ReduxMixin": true,
        "PolymerRedux": true,
        "socket": true
    }
}
